#backgroundVideo {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    background-color: white;
    cursor: none;
}

.contenu {
    position: relative;
    z-index: 1;
}